body {
    background-color: var(--primary-page-bg);
    color: var(--primary-page-bg);
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;


    --primary-page-bg: #eaebeb;
    --accent-color: #F05605;
    --primary-text-color: #353D44;
    --title-panel-bg: #f2f2f2;
}
body.dark {
    --primary-text-color: #FDFDFD;
    --title-panel-bg: #353d44;
    --sinppet-panel-bg: #21262B;


}
a {
    color: gold;
}
img {
    width: 400px;
    border: 5px solid-white;
    border-radius: 50%;
}
li {
    margin-left: 85px;
    line-height: 200%;
}